/* table {
    table-layout: fixed;
    border: none;
    margin:20px;
    width:100%;
  }

th {
    letter-spacing: 2px;
    text-align: left;
}
  
  td {
    letter-spacing: 2px;
    text-align: left;
} */