
<div class="todo-container">
        <h1> {{ title }} !</h1>
        <h4>A place to store what you need</h4>
        <!-- [ngForOf]="items" let-i="index" -->
          <input type="text" class="todoInput" placeholder="Filter your to-dos" [(ngModel)]="filterTask" (input)="filterTaskItems()"/>
         
          <input [(ngModel)]='newTask' type="text" class="todoInput" placeholder="Add a new task" />
          <button (click)="addTask($event)" class="addTask">Add Task</button>

            <ol class="todo-list">
                    <li *ngFor="let task of filteredTaskItems; let i =index">
                      <button *ngIf="!task.completed" class="complete" (click)="completeTask(task)">Complete</button>
                      <span [ngClass]="{strike: task.completed}">{{task.task}}</span>
                      <button class="remove" (click)="removeCompleteTask(task)">x</button>
                </li>
            </ol>    
</div>
