
.todo-container {
    width:600px;
    padding: 60px;
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
}

h1 {
    text-align: left;
    color:black;
    font-size:32px;
    margin-top:4px;
    margin-bottom:0px;
    font-weight: 300;
  }

  h4 {
    font-family: 'Droid Serif', serif;
    text-align: left;
    color:gray;
    margin-top:6px;
    font-weight: normal;
  }

.todoInput {
    border: 1px solid lightseagreen;
    height: 22px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-top:20px;
}

button.addTask {
    background-color: lightseagreen;
    color:white;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    margin-top: 20px;
    width: 20%;
    border-radius: 8px;
}

button.complete {
    color:lightseagreen;
    background-color:white;
    border: 1px solid lightseagreen;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;
    width: 15%;
    border-radius: 8px;
}

button.remove {
    background-color:lightseagreen;
    border: 1px solid lightseagreen;
    color:white;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    margin-top: 10px;
    width: 25px;
    border-radius: 10px;
}

span {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.strike {
    text-decoration: line-through;
}